@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,600;1,700&display=swap");
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header, main, footer {
  padding: 0 1rem;
}

header {
  background-color: #003366;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
header h1, header button {
  max-height: 4rem;
}
header h1 {
  margin: 0.8rem 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #FFFFFF;
  display: inline;
}
header h1 a {
  color: #FFFFFF;
  text-decoration: none;
}
header button {
  background-color: none;
  background: none;
  border: none;
  cursor: pointer;
}
header button svg {
  height: 2rem;
  width: 2rem;
}
header button svg path {
  fill: #FFFFFF;
}
header nav {
  width: 100vw;
  height: 0rem;
  margin: 0 calc(50% - 50vw);
  background-color: #F2F2F2;
  transition: height 0.2s ease;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.6rem;
  border-bottom: 2px solid #003366;
  transition: all 0.5s ease;
}
header nav ul li :hover {
  background-color: #FFFFFF;
  color: #003366;
}
header nav ul li a {
  color: #0079A5;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: all 0.2s ease;
}
header nav .search-section {
  padding: 0 1rem;
}
header nav .search-section #search-field {
  display: block;
  width: 100%;
  margin: 0.8rem 0 0;
  border-radius: 4px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  padding: 0.3rem 0.6rem;
}
header nav .search-section #search-button-container {
  display: flex;
  justify-content: space-between;
}
header nav .search-section #search-button-container button {
  background-color: #0079A5;
  border-radius: 4px;
  padding: 0.4rem;
  margin: 0.5rem 0;
  width: 49%;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  color: #FFFFFF;
  transition: all 0.2s ease;
  cursor: pointer;
}
header nav .search-section #search-button-container :hover {
  background-color: #003366;
}
header #header-bottom {
  background-color: #003366;
  width: 100vw;
  height: 0.4rem;
  margin: 0 calc(50% - 50vw);
  border-top: 2px solid #F2F2F2;
}

footer {
  background-color: #003366;
  color: #FFFFFF;
  text-align: center;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  margin-top: auto;
}
footer p {
  margin: 0;
  padding: 0.4rem 0;
  font-size: 0.8rem;
}
footer p a {
  color: #FFFFFF;
}

#home-info-section {
  background-color: #F2F2F2;
  color: red;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  padding: 0.6rem;
  margin-top: 1rem;
  border-radius: 10px;
}
#home-info-section #home-info-header {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
  position: relative;
}
#home-info-section #home-info-header::after {
  content: "";
  height: 2px;
  background-color: red;
  margin: 0 auto;
  position: absolute;
  bottom: -0.6rem;
  left: 0;
  right: 0;
}
#home-info-section p {
  margin: 0;
  font-size: 0.8rem;
  line-height: 1rem;
}

#home-category-section {
  margin-top: 1rem;
}
#home-category-section .category-card {
  width: 100%;
  height: 8rem;
  background-color: #F2F2F2;
  border-radius: 15px;
  margin-bottom: 1rem;
  line-height: 8rem;
  position: relative;
  overflow: hidden;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
#home-category-section .category-card#ferry-cat-card {
  background-image: url(../media/ferries-thumbnail.jpg);
}
#home-category-section .category-card#terminal-cat-card {
  background-image: url(../media/terminals-thumbnail.jpg);
}
#home-category-section .category-card a {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.6rem;
  color: #0079A5;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding-left: 1rem;
  transition: all 0.2s ease;
}
#home-category-section .category-card a:hover {
  color: #003366;
}

.radio-sort {
  background-color: #F2F2F2;
  margin-top: 1rem;
  padding: 0.8rem;
  border-radius: 5px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
.radio-sort .radio-sort-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  position: relative;
  margin-bottom: 1.3rem;
}
.radio-sort .radio-sort-header p {
  margin: 0;
}
.radio-sort .radio-sort-header button {
  background-color: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.radio-sort form {
  position: relative;
}
.radio-sort form p {
  margin: 1rem 0 0.4rem;
  font-size: 0.9rem;
}
.radio-sort form p::before {
  content: "";
  height: 1px;
  background-color: #d8d8d8;
  margin: 0 auto;
  position: absolute;
  top: -0.4rem;
  left: -0.8rem;
  right: -0.8rem;
}
.radio-sort form .radio-option-wrapper {
  background-color: #0079A5;
  color: white;
  padding: 0.4rem;
  margin-bottom: 0.2rem;
  border-radius: 4px;
  font-size: 0.9rem;
}
.radio-sort form .sort-order-radio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.radio-sort form .sort-order-radio-container .radio-option-wrapper {
  width: 49%;
}

/*# sourceMappingURL=styles.css.map */
