@use 'variables' as *;

footer {
    background-color: $dark-blue;
    color: $white;
    text-align: center;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    margin-top: auto;
    p {
        margin: 0;
        padding: 0.4rem 0;
        font-size: 0.8rem;
        a {
            color: $white;
        };
    };
};