@use 'variables' as *;

header {
    background-color: $dark-blue;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 90;
    h1, button {
        max-height: 4rem;
    }
    h1 {
        margin: 0.8rem 0;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-style: italic;
        color: $white;
        display: inline;
        a {
            color: $white;
            text-decoration: none;
        };
    };
    button {
        background-color: none;
        background: none;
        border: none;
        cursor: pointer;
        svg {
            height: 2rem;
            width: 2rem;
            path {
                fill: $white;
            };
        };
    };
    nav {
        width: 100vw;
        height: 0rem;
        margin: 0 calc(50% - 50vw);
        background-color: $light-grey;
        transition: height 0.2s ease;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                font-family: 'Montserrat', Arial, Helvetica, sans-serif;
                font-weight: 700;
                font-style: italic;
                font-size: 1.6rem;
                border-bottom: 2px solid $dark-blue;
                transition: all 0.5s ease;
                :hover {
                    color: $dark-blue;
                }
                a {
                    color: $light-blue;
                    display: block;
                    padding: 0.5rem 1rem;
                    text-decoration: none;
                    transition: all 0.2s ease;
                };
            };
        };
        .search-section {
            padding: 0 1rem;
            #search-field {
                display: block;
                width: 100%;
                margin: 0.8rem 0 0;
                border-radius: 4px;
                font-family: 'Montserrat', Arial, Helvetica, sans-serif;
                font-size: 1rem;
                padding: 0.3rem 0.6rem;
            };
            #search-button-container {
                display: flex;
                justify-content: space-between;
                button {
                    background-color: $light-blue;
                    border-radius: 4px;
                    padding: 0.4rem;
                    margin: 0.5rem 0;
                    width: 49%;
                    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
                    font-size: 0.9rem;
                    color: $white;
                    transition: all 0.2s ease;
                    cursor: pointer;
                };
                :hover {
                    background-color: $dark-blue;
                };
            };
        };
    };
    #header-bottom {
        background-color: $dark-blue;
        width: 100vw;
        height: 0.4rem;
        margin: 0 calc(50% - 50vw);
        border-top: 2px solid $light-grey;
    };
};

@media (min-width: 450px) {
    header {
        nav {
            ul {
                li {
                    a {
                        padding: inherit 3rem;
                    };
                };
            };
            .search-section {
                padding: inherit 3rem;
            }
        };
    };
};