@use 'variables' as *;

header {
    background-color: $dark-blue;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 90;
    .desktop-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0;
    }
    h1, button {
        max-height: 4rem;
    };
    .category-links-wrapper {
        display: none;
    };
    h1 {
        margin: 0.8rem 0;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-weight: 700;
        font-style: italic;
        color: $white;
        display: inline;
        flex: 1;
        a {
            color: $white;
            text-decoration: none;
        };
    };
    button {
        background-color: none;
        background: none;
        border: none;
        cursor: pointer;
        svg {
            height: 2rem;
            width: 2rem;
            path {
                fill: $white;
            };
        };
        .desktop-nav-button {
            display: none;
        }
    };
    .mobile-nav {
        width: 100vw;
        height: 0rem;
        margin: 0 calc(50% - 50vw);
        background-color: $light-grey;
        transition: height 0.2s ease;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                font-family: 'Montserrat', Arial, Helvetica, sans-serif;
                font-weight: 700;
                font-style: italic;
                font-size: 1.6rem;
                border-bottom: 2px solid $dark-blue;
                transition: all 0.5s ease;
                :hover {
                    color: $dark-blue;
                }
                a {
                    color: $light-blue;
                    display: block;
                    padding: 0.5rem 1rem;
                    text-decoration: none;
                    transition: all 0.2s ease;
                };
            };
        };
        .search-section {
            padding: 0 1rem;
            #search-field {
                display: block;
                width: 100%;
                margin: 0.8rem 0 0;
                border-radius: 4px;
                font-family: 'Montserrat', Arial, Helvetica, sans-serif;
                font-size: 1rem;
                padding: 0.3rem 0.6rem;
            };
            #search-button-container {
                display: flex;
                justify-content: space-between;
                button {
                    background-color: $light-blue;
                    border-radius: 4px;
                    padding: 0.4rem;
                    margin: 0.5rem 0;
                    width: 49%;
                    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
                    font-size: 0.9rem;
                    color: $white;
                    transition: all 0.2s ease;
                    cursor: pointer;
                };
                :hover {
                    background-color: $dark-blue;
                };
            };
        };
    };
    #header-bottom {
        background-color: $dark-blue;
        width: 100vw;
        height: 0.4rem;
        margin: 0 calc(50% - 50vw);
        border-top: 2px solid $light-grey;
    };
};

@media (min-width: 700px) {
    header {
        .category-links-wrapper {
            display: initial;
            height: 4rem;
            margin-right: 1rem;
            a {
                font-family: 'Montserrat', Arial, Helvetica, sans-serif;
                font-weight: 600;
                font-style: italic;
                display: inline-block;
                color: $white;
                font-size: 1.6rem;
                text-decoration: none;
                margin: auto;
                padding: 1.07rem;
                max-height: 4rem;
            };
        };
        button {
            .desktop-nav-button {
                display: inline;
            };
            .mobile-nav-button {
                display: none;
            };
        };
        .mobile-nav {
            ul {
                display: none;
            };
            .search-section {
                #search-button-container {
                    width: 22rem;
                    margin: auto 0 auto auto;
                };
            };
        };
    };
};

@media (min-width: 900px) {
    header {
        .mobile-nav {
            .search-section {
                display: flex;
                gap: .5rem;
                #search-field {
                    width: calc(100% - 22rem);
                };
                #search-button-container {
                    margin: 0;
                    button {
                        margin: 0.8rem 0 0;
                    };
                };
            };
        };
    };
};

@media (min-width: 1300px) {
    header {
        padding: 0 6rem;
        .mobile-nav {
            padding: 0 8rem;
        };
    };
};