@use 'variables' as *;

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
};

header, main, footer {
    padding: 0 1rem;
};

h2, h3 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    color: $light-blue;
    margin: 1rem 0 2rem;
    position: relative;
    &:after {
        content: '';
        height: 2px;
        background-color: $darker-grey;
        margin: 0 auto;
        position: absolute;
        bottom: -0.9rem;
        left: -1rem;
        right: -1rem;
    };
};

h3 {
    font-size: 1.2rem;
    margin-bottom: 1.6rem;
    &:after {
        bottom: -0.8rem;
    };
};

p {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
};

.single-ferry-main-content {
    p {
        font-size: 0.95rem;
    };
};

.single-ferry-technical-information {
    margin-bottom: 1rem;
};