@use 'variables' as *;

.radio-sort {
    background-color: $light-grey;
    height: 2.9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .8rem;
    border-radius: 5px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    overflow: hidden;
    transition: height 0.3s ease;
    .radio-sort-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: .9rem;
        font-weight: 600;
        position: relative;
        margin-bottom: 1.1rem;
        p {
            margin: 0;
        };
        button {
            background-color: none;
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;
        };
        svg {
            height: 1.2rem;
            width: 1.2rem;
        };
    };
    form {
        position: relative;
        p {
            margin: 1rem 0 0.4rem;
            font-size: 0.9rem;
            &::before {
                content: '';
                height: 1px;
                background-color: $darker-grey;
                margin: 0 auto;
                position: absolute;
                top: -0.4rem;
                left: -0.8rem;
                right: -0.8rem;
            };
        };
        .radio-option-wrapper {
            background-color: $light-blue;
            color: white;
            padding: 0.4rem;
            margin-bottom: 0.2rem;
            border-radius: 4px;
            font-size: 0.9rem;
            input {
                accent-color: $dark-blue;
            };
            label {
                display: inline-block;
                width: calc(100% - 20px);
                height: 100%;
            };
        };
        .sort-order-radio-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .radio-option-wrapper {
                width: 49%;
            };
        };
    };
};

@media (min-width: 700px) {
    #ferry-sort-section, #terminal-sort-section {
        form {
            .sort-by-radio-container, .sort-order-radio-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 0 1rem;
                .radio-option-wrapper {
                    width: 16.7rem;
                };
            };
        };
    };
};

@media (min-width: 1300px) {
    #ferry-sort-section {
        form {
            .sort-by-radio-container, .sort-order-radio-container {
                justify-content: flex-start;
                .radio-option-wrapper {
                    width: 12.35rem;
                };
            };
        };
    };
    #terminal-sort-section {
        display: flex;
        flex-wrap: wrap;
        gap: 0 1rem;
        .radio-sort-header {
            width: 100%;
        };
        form {
            width: 50%;
            flex: 1;
            p {
                margin-top: 0;
            };
            .sort-by-radio-container, .sort-order-radio-container {
                justify-content: space-between;
                .radio-option-wrapper {
                    width: 12.35rem;
                };
            };
        };
    };
};