@use 'variables' as *;

table {
    background-color: $light-grey;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    padding: 0;
    text-align: left;
    border-collapse: collapse;
    border-radius: 5px;
    td, th {
        padding: 0.4rem;
    }
};